BASE_ROUTE_PATH = '/api/v1'

# Ollama
BASE_OLLAMA_MODEL='qwen3:4b'
OLLAMA_MODEL='qwen3-short-thinker'
OLLAMA_MODEL_CONTEXT=''

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5435
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=master


# Log level
# LOG_LEVEL="DEBUG"
LOG_LEVEL="INFO"
# LOG_LEVEL="WARNING"
# LOG_LEVEL="ERROR"
# LOG_LEVEL="CRITICAL"
